p { 
    color:blanchedalmond;
    text-align: center;
    margin-bottom: 30%;
}


body {

    
    background-color: black;
    background-size: 70%;
}

h1 {
    text-align: center;
    color: rgb(16, 161, 52);
    font-family:'Times New Roman', Times, serif;
}


h2 {

    text-align: left;
    margin-left: 40px;
    margin-bottom: 80px;
    color: lightsteelblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif
}

body {
	margin: 0px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
	font-family: 'Times New Roman', Times, serif;
	font-stretch: 6em;
	
	width: 400px;
	text-align: center;

	margin-top: 10px;
    margin-left: 10px;
}

img {

    height: 50%;
    width: 50%;
	margin: 50px;
    max-width: 100%;
    max-height: 100%;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

ul {
    list-style-type: none;
    font-family:  monospace;
    font-size: 20px;
    margin: 0;
    padding: 50px;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 20px;
    background-color: black;
  }


  .header-img {
    width: 100%;
    height: 300px;
    background: url('ggggg5.png');
    background-size: cover;
  }

  .header-img h2{
      float: left;
      margin-left: 30px;
      margin-top: 270px;
      font-size: 3em;
      color: rgb(7, 169, 245);
      font-family: monospace;
      font-style: oblique;
      text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
      
  }

  #rectangle{
    width:200px;
    height:100px;
    background:blue;
}